<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue dans notre flotte spatiale !</h1>

    <p>Nombre total de vaisseaux : {{ ships|length }}</p>

    <h2>Vaisseau du jour</h2>
    <ul>
        {% for ship in ships %}
            <li>
                <a href="{{ path('app_starship_show', { id: ship.id }) }}">
                    {{ ship.name }} ({{ ship.class }})
                </a>
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>
